<div id="posts">
<div class="posts">
<p id="alert"><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>
</div>
</div>

<div id ="sidebar">
  <div class = "blurb">
  <h2 class ="header">Welcome!</h2>
  <p><img width=200px src="https://i.ibb.co/R6Y9cQR/GBMB2.png"></p>
  <p>Girlboss MB is an inclusive community for and by the badass ladies of the tech industry. Whether
  you're looking for advice, a listening ear, or recommendations, we're here for you!</p>
  <p>If it's your first time visiting, introduce yourself so we can give you a warm #GBMB welcome. Happy chatting!</p>
  </div>
</div>