<div id="post_body">
  <h1>
    <%=sanitize @post.title %>
  </h1>
  <p>
    <%=sanitize @post.context %>
  </p>
<div id="comments">
  <h2>
    <%= @post.comments.count %>
    Comments 
  </h2>
  <%= render @post.comments %>
<h3>Reply to thread
  <%= render "comments/form" %>
</h3>
<br>
  <hr/>
  <br/>
</br>
  <%= link_to "Delete Post", post_path(@post), method: :delete, class: "button" %>
  <%= link_to "Home", root_path %>
  </div>
</div>


<div id ="sidebar">
  <div class = "blurb">
  <h2 class ="header">Welcome!</h2>
  <p><img width= 200px src="https://i.ibb.co/R6Y9cQR/GBMB2.png"></p>
  <p>Girlboss MB is an inclusive community for and by the badass ladies of the tech industry. Whether
  you're looking for advice, a listening ear, or recommendations, we're here for you!</p>
  <p>If it's your first time visiting, introduce yourself so we can give you a warm #GBMB welcome. Happy chatting!</p>
  </div>
</div>