<div id="post_content">
  <h1>
    <%= @post.title %>
  </h1>
  <p>
    <%= @post.context %>
  </p>
<div id="comments">
  <h2>
    <%= @post.comments.count %>
    Comments 
  </h2>
  <%= render @post.comments %>
<h3>Reply to thread
  <%= render "comments/form" %>
</h3>
<br>
  <hr/>
  <br/>
</br>
  <%= link_to "Delete", post_path(@post), method: :delete, class: "button" %>
  <%= link_to "Home", root_path %>
  </div>
</div>